<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.274" targetFramework="net40" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="FubuCore" version="0.9.9.149" targetFramework="net40" />
  <package id="FubuLocalization" version="0.9.5.17" targetFramework="net40" />
  <package id="FubuMVC.Diagnostics" version="0.9.5.817" targetFramework="net40" />
  <package id="FubuMVC.References" version="0.9.5.926" targetFramework="net40" />
  <package id="FubuMVC.Spark" version="0.9.5.926" targetFramework="net40" />
  <package id="HtmlTags" version="1.1.0.82" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.0.960" targetFramework="net40" />
  <package id="Spark" version="1.7.2.0" targetFramework="net40" />
  <package id="structuremap" version="2.6.3" targetFramework="net40" />
</packages>